<mat-card class="example-card">

    <mat-card-content>
        <p style="font-size: 25px;">
            First Name : <label style="color:rgba(220, 220, 220, 0.568)">{{crew.firstName}} </label>
        </p>
        <p style="font-size: 25px;">
            Last Name : <label style="color:rgba(220, 220, 220, 0.568)">{{crew.lastName}} </label>
        </p>
        <p style="font-size: 25px;">
            Nationality : <label style="color:rgba(220, 220, 220, 0.568)">{{crew.nationality}} </label>
        </p>
        <p style="font-size: 25px;">
            Title:  <label style="color: rgba(220, 220, 220, 0.568)">      {{crew.title}} </label>
        </p>
    </mat-card-content>

</mat-card>